In [14]:
import pandas as pd
import os
import numpy as np
import json
from pprint import pprint
import re
from sqlalchemy import create_engine
from config import db_password
import time

In [5]:
#movies_ratings_df.to_csv("movies_ratings.csv")
#movies_ratings_df = pd.read_csv("movies_ratings.csv")
#movies_ratings_df.drop(columns=["Unnamed: 0"])

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,runtime,budget,revenue,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,104.0,49000000.0,20423389.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",114.0,6000000.0,2700000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),112.0,35000000.0,33461269.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),102.0,12000000.0,7331647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,95.0,25000000.0,6939946.0,...,3.0,0.0,3.0,2.0,5.0,26.0,37.0,46.0,16.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6046,tt5639354,429191,A Fantastic Woman,Una mujer fantástica,NaN,NaN,https://en.wikipedia.org/wiki/A_Fantastic_Woman,104.0,NaN,3700000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6047,tt5390066,390059,Permission,Permission,NaN,NaN,https://en.wikipedia.org/wiki/Permission_(film),96.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6048,tt6304162,429174,Loveless,Нелюбовь,NaN,NaN,https://en.wikipedia.org/wiki/Loveless_(film),128.0,NaN,4800000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6049,tt5795086,412302,Gemini,Gemini,NaN,NaN,https://en.wikipedia.org/wiki/Gemini_(2017_film),92.0,NaN,200340.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6050,tt3859310,341689,How to Talk to Girls at Parties,How to Talk to Girls at Parties,Some girls are out of this world.,NaN,https://en.wikipedia.org/wiki/How_to_Talk_to_G...,102.0,NaN,382053.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
movies_ratings_df.head()

,Unnamed: 0,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,runtime,budget,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
0,0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,104.0,49000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",114.0,6000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),112.0,35000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),102.0,12000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,95.0,25000000.0,...,3.0,0.0,3.0,2.0,5.0,26.0,37.0,46.0,16.0,11.0

In [7]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [9]:
engine = create_engine(db_string)

In [11]:
movies_ratings_df.to_sql(name="movies" , con=engine)

In [13]:
file_dir = "C:\\UofA\\mod8\\"

In [ ]:
# example of how to chunk data to SQL 
#for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
#    data.to_sql(name='ratings', con=engine, if_exists='append')

In [16]:
# create a variable for the number of rows imported
rows_imported = 0
#get starting time
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings_clean.csv', chunksize=1000000):
    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the chunksize
    rows_imported += len(data)

    # print that the rows have finished importing
    print(f"Done! {time.time() - start_time} total seconds elapsed")

importing rows 0 to 1000000...Done! 30.041534900665283 total seconds elapsed
importing rows 1000000 to 2000000...Done! 59.48902606964111 total seconds elapsed
importing rows 2000000 to 3000000...Done! 88.49349236488342 total seconds elapsed
importing rows 3000000 to 4000000...Done! 116.77989029884338 total seconds elapsed
importing rows 4000000 to 5000000...Done! 145.5308096408844 total seconds elapsed
importing rows 5000000 to 6000000...Done! 174.45652151107788 total seconds elapsed
importing rows 6000000 to 7000000...Done! 202.54403233528137 total seconds elapsed
importing rows 7000000 to 8000000...Done! 231.62567710876465 total seconds elapsed
importing rows 8000000 to 9000000...Done! 260.6937243938446 total seconds elapsed
importing rows 9000000 to 10000000...Done! 289.44725489616394 total seconds elapsed
importing rows 10000000 to 11000000...Done! 318.4425005912781 total seconds elapsed
importing rows 11000000 to 12000000...Done! 347.30481028556824 total seconds elapsed
importing rows 12000000 to 13000000...Done! 376.30230236053467 total seconds elapsed
importing rows 13000000 to 14000000...Done! 405.5300805568695 total seconds elapsed
importing rows 14000000 to 15000000...Done! 433.8196361064911 total seconds elapsed
importing rows 15000000 to 16000000...Done! 462.65316557884216 total seconds elapsed
importing rows 16000000 to 17000000...Done! 493.6891260147095 total seconds elapsed
importing rows 17000000 to 18000000...Done! 523.5725412368774 total seconds elapsed
importing rows 18000000 to 19000000...Done! 554.7940263748169 total seconds elapsed
importing rows 19000000 to 20000000...Done! 584.7019145488739 total seconds elapsed
importing rows 20000000 to 21000000...Done! 616.4355535507202 total seconds elapsed
importing rows 21000000 to 22000000...Done! 646.895665884018 total seconds elapsed
importing rows 22000000 to 23000000...Done! 675.6086270809174 total seconds elapsed
importing rows 23000000 to 24000000...Done! 704.7407953739166 total seconds elapsed
importing rows 24000000 to 25000000...Done! 734.3239200115204 total seconds elapsed
importing rows 25000000 to 26000000...Done! 764.2452476024628 total seconds elapsed
importing rows 26000000 to 26024289...Done! 764.9439444541931 total seconds elapsed